<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated yml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="yml.presentation.YmlModelWizardID"
            name="%_UI_YmlModelWizard_label"
            class="yml.presentation.YmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/YmlModelFile.gif">
         <description>%_UI_YmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated yml -->
      <editor
            id="yml.presentation.YmlEditorID"
            name="%_UI_YmlEditor_label"
            icon="icons/full/obj16/YmlModelFile.gif"
            extensions="yml"
            class="yml.presentation.YmlEditor"
            contributorClass="yml.presentation.YmlActionBarContributor">
      </editor>
   </extension>

</plugin>
